@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    max-width: 800px;
    padding: 1em;
}

h1, h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:focus {color: red;}
a:hover {text-decoration: underline;}
